<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "../mybatis-3-mapper.dtd">

<mapper namespace="com.example.seoulbike.auth.dao.IUserRepository">

    <!-- 회원 가입 -->
    <insert id="insertUser">
        INSERT INTO user (userid, name, password, email, region, role)
        VALUES (#{userId}, #{name}, #{password}, #{email}, #{region}, #{role})
    </insert>

    <!-- 로그인 (특정 회원 조회) -->
    <select id="findByUserId" resultType="User">
        SELECT userid AS userId, name, password, email, region, role
        FROM user
        WHERE userid = #{userid}
    </select>

    <!-- 전체 회원 조회 -->
    <select id="selectAllUsers" resultType="User">
        SELECT userid AS userId, name, password, email, region, role
        FROM user
        ORDER BY userid
    </select>

    <!-- 회원 정보 수정 -->
    <update id="updateUser">
        UPDATE user
        SET name = #{name},
            password = #{password},
            email = #{email},
            region = #{region},
            role = #{role}
        WHERE userid = #{userId}
    </update>

    <!-- 회원 삭제 -->
    <delete id="deleteUser">
        DELETE FROM user
        WHERE userid = #{userId}
    </delete>

    <!-- 비밀번호 조회 -->
    <select id="getPassword" resultType="String">
        SELECT password
        FROM user
        WHERE userid = #{userid}
    </select>

</mapper>